<div class="sidebar">
    <a href="/dashboard">Home</a>

    {% if role == "admin" %}
    <a href="#" onclick="toggleAdmin()" style="background: #e0e0e0; color: #184d78 !important;">Admin Panel ▾</a>
    <div id="adminMenu" style="display:none; background: #f9f9f9;">
        <a href="/user_access" style="padding-left:40px;">User Access</a>
        <a href="/users" style="padding-left:40px;">User Management</a>
        <a href="/operators" style="padding-left:40px;">Operator Management</a>
        <a href="/shifts" style="padding-left:40px;">Shift Management</a>
    </div>
    {% endif %}

    {% if role == "admin" or 'Production' in session.get('permissions', []) %}
        <a href="/entry">Data Entry</a>
    {% endif %}

    {% if role == "admin" or 'Batch Creation' in session.get('permissions', []) %}
        <a href="/create_batch">Batch Creation</a>
    {% endif %}

    {% if role == "admin" or 'Style Summary' in session.get('permissions', []) %}
        <a href="/style_details">Style Details</a>
    {% endif %}

    {% if role == "admin" or 'Operator Management' in session.get('permissions', []) %}
        <a href="/master_data">Style Update</a>
    {% endif %}

    {% if role == "admin" or 'Reports' in session.get('permissions', []) %}
    <a href="#" onclick="toggleDry()" style="background: #e0e0e0; color: #184d78 !important;">Dry Process Report ▾</a>
    <div id="dryMenu" style="display:none; background: #f9f9f9;">
        <a href="/report" style="padding-left:40px;">Date Wise Report</a>
        <a href="/operator_status" style="padding-left:40px;">Operator Status</a>
    </div>
    {% endif %}

    <a href="/logout" style="color: #d9534f !important;">Logout</a>
</div>
