{% extends "base.html" %}

{% block content %}

<h2>Operator Management</h2>

<h3>Add Operator</h3>

<form method="post">

Operator Name<br>
<input name="operator_name"><br><br>

Operator ID<br>
<input name="operator_id"><br><br>

<button type="submit">Add Operator</button>

</form>

<hr>

<h3>Operator List</h3>

<table border="1" cellpadding="6">

<tr>
<th>Operator Name</th>
<th>Operator ID</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for o in operators %}

<tr>

<td>{{o.operator_name}}</td>
<td>{{o.operator_id}}</td>

<td>
{% if o.is_active == 1 %}
Active
{% else %}
Inactive
{% endif %}
</td>

<td>

<a href="/edit_operator/{{o.id}}">Edit</a> |

{% if o.is_active == 1 %}
<a href="/disable_operator/{{o.id}}">Disable</a>
{% else %}
<a href="/enable_operator/{{o.id}}">Enable</a>
{% endif %}

</td>

</tr>
{% endfor %}

</table>

{% endblock %}