<style>

table{
width:100%;
border-collapse:collapse;
font-size:13px;
}

th,td{
padding:6px;
border:1px solid #ccc;
text-align:center;
}
/* Buyer column boro */
th:nth-child(1),
td:nth-child(1){
width:120px;
}

/* Style */
th:nth-child(2),
td:nth-child(2){
width:120px;
}

/* Color */
th:nth-child(3),
td:nth-child(3){
width:100px;
}

/* Item choto */
th:nth-child(4),
td:nth-child(4){
width:40px;
}

/* Process */
th:nth-child(5),
td:nth-child(5){
width:120px;
}

/* Hour columns choto */
th:nth-child(n+6):nth-child(-n+16),
td:nth-child(n+6):nth-child(-n+16){
width:30px;
}

/* Total column */
th:nth-child(17),
td:nth-child(17){
width:70px;
}

tr{
height:32px;
}

</style>

<h2>Operator Production Detail</h2>

<p>
Operator ID : {{ emp_id }} <br>
Date : {{ date }}
</p>

<table border="1">

<tr>
<th>Buyer</th>
<th>Style</th>
<th>Color</th>
<th>Item</th>
<th>Process Name</th>

<th>1st</th>
<th>2nd</th>
<th>3rd</th>
<th>4th</th>
<th>5th</th>
<th>6th</th>
<th>7th</th>
<th>8th</th>
<th>9th</th>
<th>10th</th>
<th>11th</th>

<th>Total</th>
</tr>

{% for r in rows %}

<tr>

<td>{{ r.buyer_name }}</td>
<td>{{ r.style_name }}</td>
<td>{{ r.color_name }}</td>
<td>{{ r.item_name }}</td>
<td>{{ r.process_name }}</td>

<td>{{ r.h1 }}</td>
<td>{{ r.h2 }}</td>
<td>{{ r.h3 }}</td>
<td>{{ r.h4 }}</td>
<td>{{ r.h5 }}</td>
<td>{{ r.h6 }}</td>
<td>{{ r.h7 }}</td>
<td>{{ r.h8 }}</td>
<td>{{ r.h9 }}</td>
<td>{{ r.h10 }}</td>
<td>{{ r.h11 }}</td>

<td><b>{{ r.total }}</b></td>

</tr>

{% endfor %}

</table>