{% extends "base.html" %}

{% block content %}

<h2>Shift Management</h2>

<form method="post">

<div style="display:flex; gap:20px; align-items:flex-end;">

<div>
<label>Updated From</label><br>
<input type="date" name="updated_from">
</div>

<div>
<label>Shift Name</label><br>
<input name="shift_name">
</div>

<div>
<label>Start Time</label><br>
<input type="time" name="start_time">
</div>

<div>
<label>End Time</label><br>
<input type="time" name="end_time">
</div>

<div>
<button type="submit" style="margin-top:22px;">Save Shift</button>
</div>

</div>

</form>
<hr>

<h3>Shift List</h3>

<table border="1" cellpadding="6">

<tr>
<th>Effective From</th>
<th>Effective To</th>
<th>Start Time</th>
<th>End Time</th>
<th>Shift</th>
</tr>

{% for s in rows %}

<tr>
<td>{{s.effective_from}}</td>
<td>{{s.effective_to or 'Active'}}</td>
<td>{{s.start_time}}</td>
<td>{{s.end_time}}</td>
<td>{{s.shift_name}}</td>s
</tr>

{% endfor %}

</table>

{% endblock %}